<div class="container">
  	<div class="notification">
    	This container is <strong>centered</strong> on desktop.
  	</div>
  	<a class="button is-primary" style="width: 200px;" onclick="startLoading()" id="theButton">
		Button
	</a>
</div>


<script>
	function startLoading () {
		$("#theButton").addClass("is-loading");
	}
</script>